{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "no-floating-promise",
    "webdriverio"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      2,
      "single"
    ]
  },
  "extends": "eslint:recommended",
  "env": {
    "webdriverio/wdio": true,
    "mocha": true
  }
}